<h1><%= @registered_application.name %></h1>

<div class="row">
    <div class="col-md-8">
        <a href="<%= @registered_application.url %>">Link to App</a>
        <h2>Events</h2>
    </div>
    <div class="col-md-8">
        <div class="media">
            <div class="media-body">
                <h5 class="media-heading">
                    <%= pie_chart @registered_application.events.group(:name).count %>
                    <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
                </h5>
            </div>
        </div>
    </div>
</div>

<%= link_to "Edit Application", edit_registered_application_path, class: 'btn btn-success' %>
<%= link_to "Delete Application", @registered_application, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this application?' } %>